<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation defaultLanguage="C#" debug="true"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="wsServices.DataLibs" behaviorConfiguration="wsServices.DataLibsBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/wsServices/DataLibs/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="wsServices.IStockService" bindingConfiguration="SafeServiceConf">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="wsServices.DataLibsBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="SafeServiceConf" maxReceivedMessageSize="65536000">
          <readerQuotas maxStringContentLength="655360000" maxArrayLength="65536000" maxBytesPerRead="65536000"/>
          <security mode="Message"/>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
