<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="DateTime, Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <compilation defaultLanguage="C#" debug="true"/>
  </system.web>
  <system.serviceModel>
    <diagnostics performanceCounters="ServiceOnly" />
    <services>
      <service behaviorConfiguration="wsServices.DataLibsBehavior"
        name="wsServices.DataLibs">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicBinding"
          name="basicEndpoint" contract="wsServices.IStockService" />
        <endpoint address="secure" binding="wsHttpBinding" bindingConfiguration="wsBinding"
          name="wsEndpoint" contract="wsServices.IStockService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/wsServices/DataLibs/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="wsServices.DataLibsBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" bypassProxyOnLocal="true" useDefaultWebProxy="false" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsBinding" bypassProxyOnLocal="true" transactionFlow="false"
          maxReceivedMessageSize="65536000" useDefaultWebProxy="false">
          <readerQuotas maxStringContentLength="655360000" maxArrayLength="65536000"
            maxBytesPerRead="65536000" />
          <security mode="Message" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
