<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProvisionClient.Properties.Settings.ServerSyncDBConnectionString"
            connectionString="Data Source=HAIQUAN\SQLEXPRESS;Initial Catalog=SyncDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProvisionClient.Properties.Settings.ClientSyncCompactDBConnectionString"
            connectionString="Data Source=|DataDirectory|\SyncCompactDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>