<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProvisionClient.Properties.Settings.ServerSyncDBConnectionString"
            connectionString="Data Source=HAIQUAN\SQLEXPRESS;Initial Catalog=SyncDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProvisionClient.Properties.Settings.ClientSyncCompactDBConnectionString"
            connectionString="Data Source=|DataDirectory|\SyncCompactDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="ProvisionClient.Properties.Settings.SyncDataDBConnectionString"
            connectionString="Data Source=|DataDirectory|\SyncDataDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="ProvisionClient.Properties.Settings.SyncDBConnectionString"
            connectionString="Data Source=|DataDirectory|\SyncDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="ProvisionClient.Properties.Settings.SyncDataDB3ConnectionString"
            connectionString="Data Source=|DataDirectory|\SyncDataDB3.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="ProvisionClient.Properties.Settings.SyncDB4ConnectionString"
            connectionString="Data Source=|DataDirectory|\SyncDB4.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="ProvisionClient.Properties.Settings.SyncDB5ConnectionString"
            connectionString="Data Source=|DataDirectory|\SyncDB5.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="ProvisionClient.Properties.Settings.SyncDB7ConnectionString"
            connectionString="Data Source=|DataDirectory|\SyncDB7.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>