<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProvisionServer.Properties.Settings.SyncDB7ConnectionString"
            connectionString="Data Source=C:\Users\qnguyen37\Documents\SyncProj\ProvisionClient\SyncDB7.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="ProvisionServer.Properties.Settings.SyncDBConnectionString"
            connectionString="Data Source=MOSS-SVR6;Initial Catalog=SyncDB;User ID=sa;Password=P@ssword123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>