<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <application.Properties.Settings>
            <setting name="loginName" serializeAs="String">
                <value/>
            </setting>
            <setting name="logintype" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="loginLocationName" serializeAs="String">
                <value>Location Name</value>
            </setting>
            <setting name="companyName" serializeAs="String">
                <value/>
            </setting>
            <setting name="companyAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="loginLocationId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="companyChiefAccountant" serializeAs="String">
                <value/>
            </setting>
            <setting name="companyTaxCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="companyTelePhone" serializeAs="String">
                <value/>
            </setting>
            <setting name="companyFax" serializeAs="String">
                <value/>
            </setting>
            <setting name="companyEmail" serializeAs="String">
                <value/>
            </setting>
            <setting name="companyURL" serializeAs="String">
                <value/>
            </setting>
            <setting name="companyBankAccount" serializeAs="String">
                <value/>
            </setting>
            <setting name="companyBankName" serializeAs="String">
                <value/>
            </setting>
            <setting name="companyDirector" serializeAs="String">
                <value/>
            </setting>
            <setting name="dbServerName" serializeAs="String">
                <value/>
            </setting>
            <setting name="dbDatabase" serializeAs="String">
                <value/>
            </setting>
            <setting name="dbAccount" serializeAs="String">
                <value/>
            </setting>
            <setting name="dbAcountPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="companyBankCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="WorkPeriodStart" serializeAs="String">
                <value/>
            </setting>
            <setting name="WorkPeriodEnd" serializeAs="String">
                <value/>
            </setting>
            <setting name="inventoryWarningQty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="loginUserId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="dbTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="useXMLConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="imgFilePathBackground" serializeAs="String">
                <value/>
            </setting>
            <setting name="imgFilePathIcon" serializeAs="String">
                <value/>
            </setting>
            <setting name="imgFilePathLogo1" serializeAs="String">
                <value/>
            </setting>
            <setting name="imgFilePathLogo2" serializeAs="String">
                <value/>
            </setting>
            <setting name="dataStartDate" serializeAs="String">
                <value>2009-12-31</value>
            </setting>
            <setting name="productCode" serializeAs="String">
                <value>Expert database</value>
            </setting>
            <setting name="productOnwer" serializeAs="String">
                <value>Dung Vu</value>
            </setting>
            <setting name="productVersion" serializeAs="String">
                <value>1.1</value>
            </setting>
        </application.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
