<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="databases.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="databases.Properties.Settings.importConnectionString"
            connectionString="Data Source=(local);Initial Catalog=import;Persist Security Info=True;User ID=sa;Password=P@ssword123"
            providerName="System.Data.SqlClient" />
        <add name="databases.Properties.Settings.dbConnectionString"
            connectionString="Data Source=(local);Initial Catalog=stock;Persist Security Info=True;User ID=sa;Password=P@ssword123"
            providerName="System.Data.SqlClient" />
        <add name="databases.Properties.Settings.stockConnectionString"
            connectionString="Data Source=(local);Initial Catalog=stock;Persist Security Info=True;User ID=sa;Password=P@ssword123"
            providerName="System.Data.SqlClient" />
        <add name="databases.Properties.Settings.stockConnectionString1"
            connectionString="Data Source=(local);Initial Catalog=stock;Persist Security Info=True;User ID=sa;Password=P@ssword123"
            providerName="System.Data.SqlClient" />
        <add name="databases.Properties.Settings.stockConnectionString2"
            connectionString="Data Source=(local);Initial Catalog=stock;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <databases.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </databases.Properties.Settings>
    </userSettings>
</configuration>
