<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="setup.Properties.Settings.licenseConnectionString"
            connectionString="Data Source=(local);Initial Catalog=license;User ID=sa;Password=1234567"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>