<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="databases.Properties.Settings.importConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=stock-import;Integrated Security=True"
            providerName="System.databases.SqlClient" />
        <add name="databases.Properties.Settings.dbConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=stock;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
