<Configuration>
  <DBCONNECTION>
    <dbConInfo0 dbServerName="flaOPO6e1FfKkeZ/fCefz+STYj1FkUEHYMt2L81AMCtiDDQXhYvAOw==" />
  </DBCONNECTION>
  <DBCONNECTION>
    <dbConInfo0 dbName="lHcrymcHrCjyJllbDTtavQ==" />
  </DBCONNECTION>
  <DBCONNECTION>
    <dbConInfo0 dbAccount="0myaXxZ8eBQHt+bP4urQ5w==" />
  </DBCONNECTION>
  <DBCONNECTION>
    <dbConInfo0 dbPassword="evxYd+5W2oZPPxjhLzROlA==" />
  </DBCONNECTION>
  <DBCONNECTION>
    <dbConInfo0 dbTimeout="K4KflIl87Tj0aRV+gP0H0g==" />
  </DBCONNECTION>
  <DBCONNECTION>
    <dbConInfo0 dbUseTransaction="EpAxoobbG0tPxhyMIVa+4Q==" />
  </DBCONNECTION>
  <DBCONNECTION>
    <dbConInfo1 dbServerName="flaOPO6e1FfKkeZ/fCefz+STYj1FkUEHYMt2L81AMCtiDDQXhYvAOw==" />
  </DBCONNECTION>
  <DBCONNECTION>
    <dbConInfo1 dbName="nqZzhkYwjra2W+pnDnQYajuxA5jJP7kQYgw0F4WLwDs=" />
  </DBCONNECTION>
  <DBCONNECTION>
    <dbConInfo1 dbAccount="0myaXxZ8eBQHt+bP4urQ5w==" />
  </DBCONNECTION>
  <DBCONNECTION>
    <dbConInfo1 dbPassword="evxYd+5W2oZPPxjhLzROlA==" />
  </DBCONNECTION>
  <DBCONNECTION>
    <dbConInfo1 dbTimeout="K4KflIl87Tj0aRV+gP0H0g==" />
  </DBCONNECTION>
  <DBCONNECTION>
    <dbConInfo1 dbUseTransaction="EpAxoobbG0tPxhyMIVa+4Q==" />
  </DBCONNECTION>
  <WSCONNECTION>
    <Main wsURI="" />
  </WSCONNECTION>
  <WSCONNECTION>
    <Main wsAccount="" />
  </WSCONNECTION>
  <WSCONNECTION>
    <Main wsPassword="" />
  </WSCONNECTION>
  <WSCONNECTION>
    <Main wsWindowAuthentication="EpAxoobbG0tPxhyMIVa+4Q==" />
  </WSCONNECTION>
  <WSCONNECTION>
    <Main wsTimeout="RkLVbHhukqmG8DqFrUVKzw==" />
  </WSCONNECTION>
  <WSCONNECTION>
    <Main wsUseProxy="EpAxoobbG0tPxhyMIVa+4Q==" />
  </WSCONNECTION>
  <WSCONNECTION>
    <Main wsUseDefaultProxy="MVsoctThcobSC9M10quTJg==" />
  </WSCONNECTION>
  <WSCONNECTION>
    <Main wsProxyAddress="" />
  </WSCONNECTION>
  <WSCONNECTION>
    <Main wsProxyPort="" />
  </WSCONNECTION>
</Configuration>